/* Footer */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "opensans";
  @include desktop {
    justify-content: flex-start;
    padding-left: 40px;
  }
}

/* Instanews */
.caps {
  text-transform: uppercase;
}
