/* Stories */

.error{
  margin:0 auto;
}

.stories {
  display: flex;
  flex-wrap: wrap;
}

.images {
  height: 400px;
  width:100%;
  background-position: center center;
  background-size: cover;

  display:flex;
  align-items: flex-end;
}

.text {
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;

  display:flex;
  flex-flow: column wrap;
  flex: 1 0 300px;
  
  @include desktop{
    flex: 1 0 25%;
  }
}
